.NavBar {
    background-color: green;
    position: fixed;
    color: #e9dbdb;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    position: fixed;
    width: fill;
    z-index: 2000;

}

.events {
text-decoration-color: pink;
}