.NavBar {
    background-color: green;
    color: #e9dbdb;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    position: absolute;
    width: fill;
    position: fixed;
    width: stretch;
    z-index: 2000;

}

.title {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    text-transform: none;
}

.events {
    text-decoration-color: pink;
}