/* this module is for the HomeComp component only */
.gridbox {
  height: auto;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5rem 5rem;
}
.atag {
  border-radius: 10px;
  width: 15rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.div1 {
  width: 100%;
  position: relative;
}
.span1 {
  padding-bottom: 100%;
  border-radius: 10px;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
.productimage {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  display: flex;
  position: absolute;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
}
.itemtitle {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-transform: none;
}
.atag:hover {
  opacity: 0.4;
  background-color: grey;
  cursor: pointer;
  text-decoration: underline;
}
.spacer {
  height: 10rem;
}
