.hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 16px 0px;
  background-color: #e2e2e2;
}

.profileInfoContainer {
  display: grid;

  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "left right";
}
.leftProfileInfo {
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "leftTop"
    "leftBot";
}
.leftProfileTop {
  grid-area: leftTop;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "leftPic leftUser";
  margin-top: 8px;
  margin-left: 8px;
}
.leftProfileTopPic {
  grid-area: leftPic;
}
.profilePic {
  border-radius: 50%;
}
.leftProfileTopUser {
  grid-area: leftUser;
  margin-left: 10px;
}
/* ^^left TOP side of the profileInfo module^^  */
/* left BOTTOM side of the profileInfo module */
.leftProfileBot {
  grid-area: leftBot;
  text-align: center;
  text-indent: 25px;
  margin-top: 20px;
}
.boughtSoldFollowers {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 18px;
}
.bsfContaier {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/* ^^ left TOP side of the profileInfo Module */
/* right side profileInfo module */
.rightProfileInfo {
  grid-area: right;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "rightTop"
    "rightBot";
}
.rightProfileTop {
  grid-area: rightTop;
}
.awardContents {
  display: flex;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 5px;
}
.awardList {
  margin-left: 15px;
}
.awardImage {
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  margin-bottom: 5px;
}
.rightProfileBot {
  grid-area: rightBot;
}
.rightProfileBotCompliments {
}
.complimentHead {
  font-size: 25px;
}
.compliments {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 18px;
  text-indent: 15px;
}
