

.spacer {
    height: 5rem;
}
.biggrid {
/* border: 1px grey solid; */
 height: auto;
 margin: 2rem;
 display: grid;
 grid-template-columns: 1fr 1fr ;
 grid-template-rows: 1fr 1fr;
 grid-gap: 2rem 2rem;
 width: 100%
 
}
.left {
margin: 2rem;
/* border: 1px grey solid;  */
height: 60rem;
width: 50rem;
display: flex;
flex-direction: column;
}
.right {
margin: 2rem;
border-top: 1px grey solid;
height: 43rem;
display: flex;
flex-direction: column;
}
.imagetopcontainer {
border: 1px rgba(128, 128, 128, 0.162) solid;
height: 30rem;
background-color: rgba(81, 81, 81, 0.117);
}
.imagecontainer{
margin-right: 5rem;
margin-left: 5rem;
height: 30rem;
}
.image{
object-fit: cover;
height: 29.8rem;
}
.title{
margin-top: 1rem;
margin-bottom: 8px;

color: #121212;
font-size: 1.7rem;
font-family: Lato-Black,Lato,Helvetica Neue,Arial,sans-serif;
font-weight: 900;
line-height: 1.3333333333333333
}
.price{
font-size: 2.25rem;
font-family: Lato-Black,Lato,Helvetica Neue,Arial,sans-serif;
font-weight: 900;
line-height: 1.3333333333333333;

}
.condition {
margin-top: 1rem;
font-size: 1rem;
font-family: Lato-Regular,Lato,"Helvetica Neue",Arial,sans-serif;
font-weight: 400;
line-height: 1.5;
color: #121212bc;
text-transform: none;
}
.buybtn {
margin-top: 4rem;
padding: 8px 12px;
flex-wrap: nowrap;
min-width: 64px;
box-sizing: border-box;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
align-items: center;
border-radius: 20px;
flex-direction: row;
justify-content: center;
background-color: #f4be19;
font-size: 1rem;
font-family: Lato-Regular,Lato,"Helvetica Neue",Arial,sans-serif;
font-weight: 400;
line-height: 1.5;
}
.askbtn{
margin-top: 10px;
padding: 8px 12px;
flex-wrap: nowrap;
min-width: 64px;
box-sizing: border-box;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
align-items: center;
border-radius: 20px;
flex-direction: row;
justify-content: center;
border-color: #00a87e;
background-color: #ffffff;
padding: 7px 11px;
border-style: solid;
border-width: 1px;
min-width: 17rem;
}   
.offerbtn {
margin-top: 10px;
margin-left: 2rem;
padding: 8px 12px;
flex-wrap: nowrap;
min-width: 64px;
box-sizing: border-box;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
align-items: center;
border-radius: 20px;
flex-direction: row;
justify-content: center;
border-color: #00a87e;
background-color: #00a87e;;
/* background-color: #ffffff; */
color: #ffffff;
padding: 7px 11px;
border-style: solid;
border-width: 1px;
min-width: 17rem;
} 
.btncontainer{
margin-top: 1rem;
display: flex;
}
.savecontainer{
margin-top: 4rem;
display: flex;
justify-content: center;
color: #00a87e
}

.subpics{
border-bottom: 1px solid grey;
height: 6rem;
justify-content: left;
display: flex;
flex-direction: row;
}
.subimages{
padding: .5rem;
width: 5rem;
height: 5rem;
border-radius: 15px;
}
.desc{
font-size: 2rem;
}
.para{
margin-top: .5rem;
margin-bottom: .5rem;
color: #121212cd;
}
.desccontainer{
border-bottom: 1px solid grey;
}
.user{
    margin-top: 7.8rem;
    display: flex;
    padding-top: .8rem;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;

}
.sellerinfo {
    display: flex;
    margin: 1rem;
    flex-direction: column;
}
.sellerusername{
  font-size: larger;
  font-weight: bold;
}
.sellerpic{
    height: 5rem;
    border-radius: 3rem;
}