
.spacer {
        height: 5rem;
}
.biggrid {
    /* border: 1px grey solid; */
     height: auto;
     margin: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 1fr 1fr;
     grid-gap: 2rem 2rem;
     width: 100%
     
}
.left {
    margin: 2rem;
    /* border: 1px grey solid;  */
    height: 60rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}
.right {
    margin: 2rem;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    height: 35rem;
    display: flex;
    flex-direction: column;
}
.imagetopcontainer {
    border: 1px rgba(128, 128, 128, 0.162) solid;
    height: 35rem;
    background-color: rgba(81, 81, 81, 0.117);
}
.imagecontainer{
    margin-right: 5rem;
    margin-left: 5rem;
    height: 35rem;
}
.image{
    object-fit: cover;
    height: 34.8rem;
}
.title{
   margin-top: 1rem;
   margin-bottom: 8px;

   color: #121212;
   font-size: 1.7rem;
   font-family: Lato-Black,Lato,Helvetica Neue,Arial,sans-serif;
   font-weight: 900;
   line-height: 1.3333333333333333
}
.price{
    font-size: 2.25rem;
    font-family: Lato-Black,Lato,Helvetica Neue,Arial,sans-serif;
    font-weight: 900;
    line-height: 1.3333333333333333;

}
.condition {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: Lato-Regular,Lato,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #121212bc;
    text-transform: none;
}
.buybtn {
    margin-top: 4rem;
    padding: 8px 12px;
    flex-wrap: nowrap;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    background-color: #f4be19;
    font-size: 1rem;
    font-family: Lato-Regular,Lato,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.askbtn{
    margin-top: 10px;
    padding: 8px 12px;
    flex-wrap: nowrap;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    border-color: #00a87e;
    background-color: #ffffff;
    padding: 7px 11px;
    border-style: solid;
    border-width: 1px;
    min-width: 17rem;
}   
.offerbtn {
    margin-top: 10px;
    margin-left: 2rem;
    padding: 8px 12px;
    flex-wrap: nowrap;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    border-color: #00a87e;
    background-color: #00a87e;;
    /* background-color: #ffffff; */
    color: #ffffff;
    padding: 7px 11px;
    border-style: solid;
    border-width: 1px;
    min-width: 17rem;
} 
.btncontainer{
    margin-top: 1rem;
    display: flex;
}
